rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Izinkan semua baca dan tulis (untuk aplikasi internal sekolah)
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
